body {
    margin: 0;
}

.header {
    position: absolute;
    width: 1440px;
    height: 196px;
    background-color: #003847;
}

.wit-text {
    position: relative;
    margin-bottom: 60px;
}

 a:link {
    text-decoration: none;
    color: #003847;
}

a:visited {
    color: #003847;
}

.body-container {
    margin-top: 29px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: #003847;
}

.link-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-size: 32px;
    color: #003847;
    cursor: pointer;
    background-color: #e6e6e6;
    margin-top: 20px;
    margin-right: 10px;
}

.link-button:hover {
    background-color: #cccccc;
}

.footer {
    height: 80px;
}

.zoom-meeting {
    text-decoration: underline;
}
